<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">
  <context-param>
    <param-name>com.auth0.domain</param-name>
    <param-value>luciogayoso.auth0.com</param-value>
</context-param>

<context-param>
    <param-name>com.auth0.clientId</param-name>
    <param-value>P2NWWuLnv8GQJC9ZjMXiWTItN6NoCzA8</param-value>
</context-param>

<context-param>
    <param-name>com.auth0.clientSecret</param-name>
    <param-value>eMaTH8Pq4tj9OgibYMF8lyiA2qyT5HVyxEvphjBchesWDLNfyH9M_BUsP67itYv4</param-value>
</context-param>  
</web-app>